.cta{
border: 1px solid white;
color: white;

display: flex;
justify-content: space-between;
align-items: center;
padding: 2rem;
margin: 4rem;
border-radius: 1rem;
background: var(--gradient-bar);
font-family: var(--font-family);
}


.cta-content p{
font-weight: 500;
font-size: 14px;
line-height: 30px;
color: #0E0E0E;
font-weight: bold;
letter-spacing: 0.7px;
}

.cta-content h3{ 
    font-weight: 800;
    font-size: 24px;
    line-height: 45px;
    color: #000;
}

.cta-btn{
   display: flex;
   justify-content: center; 
   align-items: center;
   margin-left: 2rem;
}

.cta-btn button{
    font-family: var(--font-family);
    background: #000;
    color: #fff;
    border-radius: 40px;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    padding: 0.5rem 1rem;
    border: 0;
    outline: none;
    cursor: pointer;
    min-width: 150px;
}


@media screen and (max-width: 650px) {
    .cta {
        flex-direction: column;
    }

    .cta-btn {
        margin: 2rem 0 0;
    }
}

@media screen and (max-width: 550px) {
    .cta {
        flex-direction: column;
        margin: 4rem 2rem;
    }

    .cta-content h3 {
        font-size: 18px;
        line-height: 32px;
    }

    .cta-btn button {
        font-size: 14px;
        line-height: 28px;
    }
}